Body {
    font-family: 'poppins', sans-serif;
    max-width: 1340px;
    margin: 0 auto;
    background-color: #413b3bad;
    color: #333333;
    
}
header .logo-pokemon{
    width: 300px;
    height: 100%
}
header {
    display: flex;
    justify-content:space-between;
    padding: 25px;
}
header .logo,
header .imagem-botao {
    width: 100px;
    transition: 0.2s ease-in-out;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;

}
header #botao-alterar-tema{
    background: none;
    border: none;
}
    

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #f8f5f538;
    width: 170px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #787d7e;
}

.modo-escuro .cartao-pokemon {
    background-color: #221d1d;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #fa6706b6;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 70px;
    height: 70px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 20px;
    font-size: 17px;
}

main .cartao-pokemon .tipos {
    padding: 8px;
    border-radius: 10px;
}
.tipos li{
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
    
}

.inseto {
    background-color: #a6b91a;
}

.voador {
    background-color: #2754ce;
}
main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.tipos li{
    list-style: none;   
 }
header .logo{
    width: 100px;
    transition: 0.5s ease-in-out;
}  

body.modo-escuro{
    background-color: #2b2727;
    color: #f5f5f5f5;
}